.setting {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  width: 7%;
  aspect-ratio: 1/1;
  margin: 10px;
  background-color: var(--primary);
}
.settingIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(18px, 2vw, 22px);
  font-weight: 70;
}
