.setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 3rem;
  color: var(--primary);
}
.sortBtn {
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  border: 2px solid var(--primary);
}
.sortIcon {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 900;
}

button.Up {
  background-color: var(--primary);
  color: #ffff;
}

.filterBtn {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #ffff;
  border: 2px solid var(--primary);
  padding: 0px 8px;
  font-size: clamp(18px, 2vw, 24px);
  z-index: 3;
  transition: all 0.3s;
}
.filterBtn.open {
  background-color: var(--primary);
  color: #ffff;
}
.filterBox {
  position: absolute;
  top: 0rem;
  left: 0;
  height: fit-content;
  border: 2px solid var(--primary);
  background-color: #ffff;
  padding: 5px 10px;
  z-index: -2;
  opacity: 0;
  transition: all 0.3s;
}

.filterBox.open {
  top: 3rem;
  opacity: 1;
  transition: all 0.3s;
  z-index: 2;
}

.statusName {
  font-size: clamp(16px, 2vw, 24px);
}
